body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a86969;
    color: rgb(222, 225, 230);
    
}
.Encabezado {
    background-color: #a86969;
    padding: 30px 0;
    border-radius: 10px;
    color: rgb(44, 48, 56);
    font-family: 'MedicosFont', sans-serif;
    font-size: 1.2em;
    
}
@font-face {
    font-family: 'MedicosFont';
    font-style: normal;
    src: url(../fonts/EduVICWANTHandPre-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Medicos-Main';
    src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
#Medicos {
    font-family: 'Medicos-Main', Arial, sans-serif;
    background-color: rgb(193, 199, 177);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    color: black;
    text-align: center;
}
#formulario {
    font-family: 'Medicos-Main', Arial, sans-serif;
    background-color: rgb(180, 241, 10);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    color: rgb(165, 53, 53);
    text-align: center;
}
.img-Titular {
    display: block;
    margin: 30px auto 30px auto;
    width: 600px; /* Puedes ajustar este valor según lo que prefieras */
    max-width: 40%;
    border-radius: 12px;
}